/** 字体颜色 FONT COLOR **/

font-color-dark = #000
font-color-normal = #666
font-color-light = #ccc

/** 字体大小 FONT SIZE **/

font-base = 10px
font-smallest = font-base * 1.2
font-smaller = font-base * 1.3
font-small = font-base * 1.4
font-normal = font-base * 1.5
font-large = font-base * 2
font-larger = font-base * 2.5
font-largest = font-base * 3
font-title = font-base * 5

/** 字体类型 FONT FAMILY **/

header-font = 'Microsoft JhengHei UI Light'
footer-font = header-font

title-font = '方正粗黑宋简体'

text-font = '\5E7C\5706' // 幼圆 YouYuan
text-font-en = 'Microsoft Yahei Light'

code-font = 'Calibri Light'

aside-font = '\5b8b\4f53' // 宋体 SongTi
aside-font-en = 'HP Simplified Light'

/** 边框 BORDER **/

border-width = .5px
border-color = font-color-light
border-color-dark = font-color-dark
border-radius = 3px

/** 间距 PADDING & MARGIN **/

space-base = 10px
space-small = space-base * 0.5
space-normal = space-base * 1.5
space-large = space-base * 2
space-larger = space-base * 3
space-none = 0