/** 字体颜色 FONT COLOR **/

font-color-dark = #000
font-color-normal = #666
font-color-light = #ccc

/** 字体大小 FONT SIZE **/

font-base = 10px
font-smallest = 1.2rem
font-smaller = 1.3rem
font-small = 1.4rem
font-normal = 1.5rem
font-large = 2rem
font-larger = 2.5rem
font-largest = 3rem
font-title = 5rem

/** 字体类型 FONT FAMILY **/

header-font = 'Microsoft JhengHei UI Light'
footer-font = header-font

title-font = '方正粗黑宋简体'

text-font = '\5E7C\5706' // 幼圆 YouYuan
text-font-en = 'Microsoft Yahei Light'

code-font = 'Calibri Light'

aside-font = '\5b8b\4f53' // 宋体 SongTi
aside-font-en = 'HP Simplified Light'

/** 边框 BORDER **/

border-width = .5px
border-color = font-color-light
border-color-dark = font-color-dark
border-radius = 3px

/** 间距 PADDING & MARGIN **/

space-base = 1rem
space-small = 0.5rem
space-normal = 1.5rem
space-large = 2rem
space-larger = 3rem
space-none = 0