<div id="<%- url_for(post.path) %>" class="leancloud_visitors post__stat" data-flag-title="<%= post.title %>">
  <i class="blogfont">&#xe672;</i>
  <span class="leancloud-visitors-count">loading...</span>
</div>