<div class="valine-comment"></div>
<!--载入js，在</body>之前插入即可-->
<!--Leancloud 操作库:-->
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<!--Valine 的核心代码库-->
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script>
new Valine({
    el: '.valine-comment',
    app_id: '<%= theme.valine.appid %>',
    app_key: '<%= theme.valine.appkey %>',
    placeholder: '<%= theme.valine.placeholder %>',
    visitor: '<%= theme.valine.visitor %>',
  })
</script>