<article id="about" class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="post__title"><%= page.title %></h1>
  <div class="post__content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>