#footer
  position relative
  width 100%
  font font-smaller/1 footer-font
  padding space-normal
  text-align center

  .social-links
    display inline-block
    margin 0 space-small
    color font-color-normal