#header
  width 100%
  padding space-large
  text-align center

  .menu
    line-height 1

  .menu--right
    float right
    .menu__item
      font-size font-smallest
      margin 0 space-base

  .menu__item
    font font-large/1 header-font
    color font-color-dark
    margin 0 space-large
    &:hover
      color font-color-light

@media screen and (max-width: 1200px)
  #header .menu__item
    font-size 1.8rem