.block
  margin space-large 0

.block__item
  margin-bottom space-larger

.block__title
  display block
  color font-color-dark
  font font-larger/1.5 title-font
  margin-bottom space-base
  letter-spacing 1px
  &:hover
    text-decoration underline

.block__date
  font bold font-normal/2.5 aside-font
  color font-color-normal
  letter-spacing 2px

.block__excerpt
  text-align left
  font font-small/1.75 text-font-en
  letter-spacing 5px

.block__more
  display block
  font bold 1.8rem/1.5 title-font
  color font-color-normal
  margin space-large 0
  letter-spacing 2px
  &:hover
    color font-color-light

@media screen and (max-width: 720px)
  .block__title
    font-weight bold
    font-size 1.8rem