.comments
  margin-bottom space-larger

  .vcount
    font-family text-font-en

  .vinput
    font-family text-font-en
    transition all .5s

  .vinput:active
  .vinput:focus
    border-bottom-color border-color-dark !important

  .vbtn:active
  .vbtn:hover
    border-color border-color-dark !important
    color font-color-dark !important

  .vat
    color font-color-normal !important

  .vsys
  .vempty
  .vpower
    display none !important
